__pycache__/
*.py[cod]
.gemini/
.vscode/
.DS_Store
*.json
!history_*.json
magic-backend/__pycache__/
.npm/
.local/
.codeoss/
.rustup/
.cache/
.config/
.pki/
.docker/
.bash_history
.bash_logout
.bashrc

.env

# Local DB
history_*.json
profile_*.json
*.json

# Utility Scripts
list_models.py
test_fallback_model.py

