__pycache__/
*.py[cod]
.gemini/
.vscode/
.DS_Store
*.json
!history_*.json
magic-backend/__pycache__/
.npm/
.local/
.codeoss/
.rustup/
.cache/
.config/
.pki/
.docker/
.bash_history
.bash_logout
.bashrc
